{% extends 'base.html.twig' %}

{% block title %}Inloggen{% endblock %}

{% block body %}
    {{ parent() }}


    <div class="container" style="margin-top: 2%;">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}





            <h3 style="text-align: center;">Inloggen</h3>
            <label for="inputEmail">E-mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus><br>

            <label for="inputPassword">Wachtwoord</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"> <br>
            <button class="btn btn-outline-primary" type="submit">
                Inloggen
            </button>
        </form>
    </div>
{% endblock %}
