{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}

    <div class="container" style="margin-top: 2%;">

        <h2 style="text-align: center;">Training toevoegen</h2>
        {{ include('medewerker/form.html.twig') }}
    </div>


{% endblock %}







