{% extends 'admin.html.twig' %}

{% block title %}Les wijzigen{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container" style="margin-top: 2%;">
        <h3 style="text-align: center;">Details van {{ lid.firstname}} {{ lid.lastname }}</h3>
        {{form(form)}}

        <table class="table table-borderless" style="margin-top: 4%;">
            <thead>
            <tr>
                <th>Datum</th>
                <th>Tijd</th>
                <th>Sport</th>
                <th>Kosten</th>
                <th>Betaald</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

{% endblock %}