{% extends 'base.html.twig' %}

{% block title %}Edit Training{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container" style="margin-top: 2%;">
    <h3 style="text-align: center;">Training wijzigen</h3>

    {{ include('medewerker/form.html.twig', {'button_label': 'Wijzigen'}) }}

    <a href="{{ path('training_index') }}">Terug</a>

    </div>

{% endblock %}