{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}

    <div class="container" style="margin-top: 2%;">

        <h1>Gedragsregels</h1>
        <p>Het is ons streven om alle Training Factory Den Haag leden op een optimale wijze gebruik te kunnen laten maken van de beschikbare faciliteiten. Daarom heeft Basic-Fit, grotendeels op herhaaldelijk verzoek van de clubleden, een aantal huisregels opgesteld. Wij verzoeken je vriendelijk onze regels te lezen en na te leven.
            Bij het betreden van de club ga je akkoord met de huisregels van Training Factory.</p>

        <ul>
            <li>De aanwijzingen van het personeel dienen strikt opgevolgd te worden</li>
            <li>Dranken mogen alleen in een afgesloten fles/bidon meegenomen worden in de sportruimten</li>
            <li>Roken en het gebruik en/of verspreiden van verboden middelen is ten strengste verboden;</li>
            <li>Etenswaren zijn niet toegestaan in de sportruimten;</li>
            <li>Gebruik van een mobiele telefoon om te bellen is niet toegestaan in de sportruimten;</li>
            <li>Dieren zijn niet toegestaan;</li>
            <li>Verkoop- en/of promotieactiviteiten zijn niet toegestaan zonder toestemming van Basic-Fit;</li>
            <li>Jassen en tassen zijn niet toegestaan in de sportruimten;</li>
            <li>Kinderen onder de 12 jaar zijn niet toegestaan in de sportruimten;</li>
            <li>Wij raden u aan om voor het opbergen van uw eigendommen gebruik te maken van de lockers;</li>
            <li>Gelieve na het sporten geen eigendommen achter te laten in de lockers, daar deze dagelijks worden gecontroleerd en opengemaakt;</li>
            <li>Het gebruik van een handdoek tijdens de training is verplicht;</li>
            <li>Het is verplicht schone en gepaste (geen slippers of sandalen) sportschoenen en gepaste sportkledij te dragen;</li>
            <li>Gebruik apparatuur alleen voor de daarvoor bestemde doeleinden;</li>
            <li>Het is verplicht om de apparatuur na gebruik te reinigen;</li>
        </ul>

        <p>
            Ongewenste en/of gewenste intimiteiten in de Basic-Fit club worden niet getolereerd en Indien noodzakelijk wordt er bij overtreding van de huisregels aangifte gedaan bij de politie Basic-Fit is niet aansprakelijk voor verlies, schade en/of diefstal van je eigendommen en/of lichamelijk letsel in en om de Basic-Fit club. Basic-Fit kan als zodanig niet aansprakelijk worden gesteld.
        </p>
    </div>


{% endblock %}





