{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}

    <div class="container" style="margin-top: 2%;">

        <h2 style="text-align: center;">Registeren</h2>
        <table class="table table-borderless">
            <tbody>
            <tr><td>{{ form(form) }}</td></tr>
            </tbody>
        </table>
    </div>


{% endblock %}





