{% extends 'bezoeker.html.twig' %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row content" style="margin-top: 3%;">
            <div class="col-sm-3 sidenav">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <h4 style="text-align: center">{{ app.user.firstname }}</h4>
                {% endif %}
                <img src="{{ asset('image/user.jpg') }}" alt="logo" style="width:100%;">
            </div>

            <div class="col-sm-9">
                <hr>
                <h2 style="margin-bottom: 4%;">Wijzig gegevens</h2>
                <table class="table table-borderless">
                    <tbody>
                   {{form(form)}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}



